In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import yfinance as yf
from scipy.stats import norm

data = yf.download('NVDA')
data

[*********************100%***********************]  1 of 1 completed

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
1999-01-22,0.043750,0.048828,0.038802,0.041016,0.037618,2714688000
1999-01-25,0.044271,0.045833,0.041016,0.045313,0.041559,510480000
1999-01-26,0.045833,0.046745,0.041146,0.041797,0.038334,343200000
1999-01-27,0.041927,0.042969,0.039583,0.041667,0.038215,244368000
1999-01-28,0.041667,0.041927,0.041276,0.041536,0.038095,227520000
...,...,...,...,...,...,...
2024-10-02,116.440002,119.379997,115.139999,118.849998,118.849998,221845900
2024-10-03,120.919998,124.360001,120.339996,122.849998,122.849998,277118000
2024-10-04,124.940002,125.040001,121.830002,124.919998,124.919998,243678100
2024-10-07,124.989998,130.639999,124.949997,127.720001,127.720001,346250200
2024-10-08,130.259995,133.479996,129.419998,132.889999,132.889999,284485800

In [3]:
log_returns = np.log(1+data['Adj Close'].pct_change()) # logarithmic returns
log_returns

Date
1999-01-22         NaN
1999-01-25    0.099631
1999-01-26   -0.080769
1999-01-27   -0.003115
1999-01-28   -0.003149
                ...
2024-10-02    0.015688
2024-10-03    0.033102
2024-10-04    0.016709
2024-10-07    0.022167
2024-10-08    0.039681
Name: Adj Close, Length: 6470, dtype: float64

In [4]:
u = log_returns.mean()
var = log_returns.var()
drift = u - (0.5*var)
drift

np.float64(0.0005514884794171581)